html {
  min-height:100%;
  background: url(alt_brighton_ave_1.png);
  background-size: cover;
  animation: bgrad 50s;
}
@keyframes bgrad {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
    background-position:center;
  }
}

